.input-group {
  display: flex;
  justify-content:space-around;
  gap: 1.5rem;
}
.Add-Event
{
  margin-top: 50px;
}
.container-add-event
{
  padding: 30px 30px;
}
#user-input label {
  display: inline-block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid mediumpurple;
  border-radius: 0.25rem;
  background-color: transparent;
  color: black;
  font-size: 1rem;
}
.DataTable
{
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
.btn-sb-user-input
{
  background-color: rgb(189, 126, 136);
  max-width: min-content;
  max-height: auto;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  max-height: 30px;
  max-width: max-content;
  font-size:larger;
}
.btn-sb-user-input:hover
{
  background-color: white;
  color: black;
}
.container-vertifyall
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  border: none;
  background-color: plum;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-items: center;
}

#result {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#result td,
#result th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 12.5%;
}

#result tr:nth-child(even) {
  background-color: #e9f0fa;
}


#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: black;
  
}

#result th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: mediumpurple;
  color: white;
}

#active {
  border: none;
  background-color:rgb(0, 17, 250);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

#inactive {
  border: none;
  background-color:rgb(255, 0, 0);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#active, #inactive
{
  width: 100%;
  height: fit-content;
  font-size: small;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  align-items:center;
  border-radius: 4px;
  position:relative;
}

#event-name {
  color: darkviolet;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

#event-input {
  width: fit-content;
  padding: 0.5rem;
  border: 2px solid mediumpurple;
  border-radius: 0.25rem;
  background-color: transparent;
  color: black;
  font-size: 1rem;
}
#E-name
{
  display: flex;
  justify-content: space-between;
  margin: 30px 30px;
}
#E-Header
{
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color:darkviolet
}
#btn-save
{
  width: 70px;
  height: fit-content;
  color: white;
  background-color: pink;
  border-radius: 5px;
  border: none;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 20px;
}
#btn-save:hover
{
  background-color: white;
  color: rgb(22, 2, 2);
}
#cmt-text {
  color: #333;
}

#cmt-btn {
  border: none;
  background-color:mediumspringgreen;
  color: white;
  font-size: 3px;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#cmt-btn:hover {
  background-color: #45a049;
}
.icon-table
{
  color: #ff0026;
  font-size: large;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  cursor: pointer;
}
#latest-row
{
  max-width: 20%;
  justify-self: end;
}
#table
{
  height:min-content;
}
.editing-row {
  background-color: yellow !important; 
  font-size: 15px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}


