/* List_Event.css */
#List_Table {
    display: table;
    justify-content: space-between;
    width: 95%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
}

#List_Table thead,
tbody {
    text-align: center;
}

#List_Table thead tr {
    background-color: #2cd7b5;
    color: #ffffff;
}

#List_Table th,
#List_Table td {
    padding: 12px 15px;
    max-width: 200px;
    word-wrap: break-word;
}

#List_Table tbody tr {
    border-bottom: 1px solid #052814;
}

#List_Table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#List_Table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#List_Table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#text-funded {
    border-radius: 5px;
    cursor: none;
    background-color: rgb(81, 81, 224);
    color: #dddddd;
    width: 50%;
    height: 50%;
    border: none;
}

#text-pendding {
    border-radius: 5px;
    cursor: none;
    background-color: rgb(234, 250, 4);
    color: #000000c9;
    width: 50%;
    height: 50%;
    border: none;
}

#header-list {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: darkviolet
}